#hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:0;
    padding-right:0;
}

#presentation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 50px;
}

#presentation-logo{
    max-width: 500px;
}

#nathalie{
    max-width: 800px;
}



#presentation-container-logo{
    background-color:#9D6FAF;
    padding: 20px;
}

#section1, #section2, #section3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section1{
    width: 80%;
    flex-direction: row;
    gap: 50px;
    margin: 200px 0;
}

#section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    width: 80%;
    margin: 150px;
}

#section2 section{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50%;
}


#section3{
    width: 80%;
    box-shadow: none;
}
.sections-seance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#section-cabinet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#cabinet{
    max-width: 550px;
}

