#intro{
    width: 85%;
    margin-top: 50px;
}


article{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    article div{
    text-align: left;
    display: flex;
    flex-direction: column;width: 85%;
}

#container-carte{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}

#carte{
    width: 100%;
    max-width: 600px;
}