main {
  padding: 50px;
  background-color: #9d6faf5b;
}
section{
    margin-bottom: 0;
}
#intro {
  margin-top: 50px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

article div {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#container-carte {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carte {
  max-height: 400px;
  width: 40%;
  object-fit: cover;
}
