
main {
  padding: 50px;
  background-color: #9d6faf5b;
}

/* Gallery Styles */
#gallery {
  text-align: center;
  margin: 20px auto;
  padding:30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

#gallery h1 {
  font-size: 2.5em;
  color: #9d6faf;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  justify-items: center;
  width: 70%;
}

.grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Video Styles */
#video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  width: 90%;
  padding: 30px 20px;
}

#video h2 {
  margin-bottom: 20px;
}



 iframe,#video-presentation {
  top: 0;
  left: 0;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
